<div class="flex h-screen flex-col">
  <app-topbar class="sticky top-0 z-10"></app-topbar>
  <mat-sidenav-container class="flex-1">
    <mat-sidenav
      #snav
      [mode]="isHandset() ? 'over' : 'side'"
      [opened]="!isHandset()"
      class="w-64"
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="relative h-full flex flex-col">
      <button
        mat-mini-fab
        color="primary"
        class="absolute top-4 -left-3 z-20"
        (click)="snav.toggle()"
      >
        <mat-icon>{{ snav.opened ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
      <div class="flex-1 overflow-auto p-4 md:p-6">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
